Repository minibeit/minibeit, pull requests merged in 2021-10, with the labels that each got.

#163 [backend] Post 관련 리팩토링, Post 통합 테스트 작성(설정하고 일부), 게시글 모집완료, 글내리기 수
  backend/build.gradle
  backend/src/docs/asciidoc/post.adoc
  backend/src/main/java/com/minibeit/post/domain/Post.java
  backend/src/main/java/com/minibeit/post/domain/PostDoDate.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/dto/PostDto.java
  backend/src/main/java/com/minibeit/post/dto/PostRequest.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantService.java
  backend/src/main/java/com/minibeit/post/service/PostByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostFileService.java
  backend/src/main/java/com/minibeit/post/service/PostPermissionCheck.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/web/PostApplicantByBusinessController.java
  backend/src/main/java/com/minibeit/post/web/PostApplicantController.java
  backend/src/main/java/com/minibeit/post/web/PostByBusinessController.java
  backend/src/main/java/com/minibeit/post/web/PostController.java
  backend/src/main/resources/db/migration/V20210830160859__Create_Post_Do_Date_Table.sql
  backend/src/rest/AuthController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostApplicantByBusinessControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostApplicantControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostByBusinessControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
  backend/src/test/resources/application.yml
Labels: Asking for Review, Backend

#165 [frontend] 중간머지용
  frontend/src/components/BProfile/BMakeListBox/PBMakeListBox.jsx
  frontend/src/components/BProfile/BManageModal/style.jsx
  frontend/src/components/BProfile/BOtherProfile/PBOtherProfile.jsx
  frontend/src/components/BProfile/BOtherProfile/index.jsx
  frontend/src/components/BProfile/BProfileJoin/NicknameCombo.jsx
  frontend/src/components/BProfile/BProfileJoin/PBProfileJoin.jsx
  frontend/src/components/BProfile/BProfileJoin/index.jsx
  frontend/src/components/BProfile/BProfileSection/PBProfileSection.jsx
  frontend/src/components/BProfile/BReviewBox/PBReviewBox.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/BProfileEdit/BCreateCont/index.jsx
  frontend/src/components/BProfileEdit/BProfileEditCont/PBProfileEditCont.jsx
  frontend/src/components/BProfileEdit/BProfileEditCont/index.jsx
  frontend/src/components/BProfileEdit/style.jsx
  frontend/src/components/Common/FeedBox/ProfileFeed/index.jsx
  frontend/src/components/Common/ReviewModal/index.jsx
  frontend/src/components/Profile/JoinListBox/PJoinListBox.jsx
  frontend/src/components/Profile/JoinListBox/index.jsx
  frontend/src/components/Profile/ProfileCont/PProfileCont.jsx
  frontend/src/components/Profile/ProfileEditModal/PProfileEditModal.jsx
  frontend/src/components/Profile/ProfileEditModal/index.jsx
  frontend/src/components/Profile/UserInfo/PUserInfo.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/PSignupInfoForm.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/pages/BProfile/style.jsx
  frontend/src/utils/index.jsx
  frontend/src/utils/profileApi.js
  frontend/src/utils/reviewApi.js
Labels: Frontend

#167 [backend] 유저 서비스 통합 테스트
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/test/java/com/minibeit/user/service/UserServiceTest.java
Labels: Asking for Review, Backend

#170 [backend] 글내리기 버그 수정
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileReviewService.java
  backend/src/main/java/com/minibeit/post/domain/PostApplicant.java
  backend/src/rest/AuthController.http
  backend/src/rest/BusinessProfileReviewController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
Labels: Asking for Review, Backend

#171 [frontend] eslint 오류 수정, 콘솔로그 지우기
  frontend/src/components/Apply/FilterAndList/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/PFeedInfoContainer.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/PTimeSelectBox.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/index.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/BProfile/BMakeListBox/index.jsx
  frontend/src/components/BProfile/BManageModal/index.jsx
  frontend/src/components/BProfile/BOtherProfile/PBOtherProfile.jsx
  frontend/src/components/BProfile/BProfileInfo/PBProfile.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/BProfile/BProfileJoin/NicknameCombo.jsx
  frontend/src/components/BProfile/BProfileJoin/PBProfileJoin.jsx
  frontend/src/components/BProfile/BProfileJoin/index.jsx
  frontend/src/components/BProfile/BProfileSection/PBProfileSection.jsx
  frontend/src/components/BProfile/BProfileSection/index.jsx
  frontend/src/components/BProfile/BReviewBox/index.jsx
  frontend/src/components/BProfileEdit/BCreateCont/index.jsx
  frontend/src/components/BProfileEdit/BProfileEditCont/PBProfileEditCont.jsx
  frontend/src/components/BProfileEdit/BProfileEditCont/index.jsx
  frontend/src/components/BProfileEdit/style.jsx
  frontend/src/components/Common/FeedBox/BProfileFeed/index.jsx
  frontend/src/components/Common/FeedBox/ProfileFeed/index.jsx
  frontend/src/components/Common/Modal/ApplyConfirmModal/index.jsx
  frontend/src/components/Common/PVImg/index.jsx
  frontend/src/components/ExplainPage/ExplainContent/PExplainContent.jsx
  frontend/src/components/Profile/JoinListBox/index.jsx
  frontend/src/components/Profile/LikeListBox/index.jsx
  frontend/src/components/Profile/ProfileEditModal/PProfileEditModal.jsx
  frontend/src/components/Profile/ProfileEditModal/index.jsx
  frontend/src/components/Profile/UserInfo/PUserInfo.jsx
  frontend/src/components/Profile/UserInfo/index.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PSchoolSelect.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PSelectBProfile.jsx
  frontend/src/components/Recruit/CreateFeedContainer/index.jsx
  frontend/src/components/RecruitEdit/FEContainer/PFEContainer.jsx
  frontend/src/components/RecruitEdit/FEContainer/index.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/PSignupInfoForm.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/index.jsx
  frontend/src/components/SignupInfo/style.jsx
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/utils/bprofileApi.js
  frontend/src/utils/common/interceptors.js
  frontend/src/utils/profileApi.js
Labels: Asking for Review, Frontend

#172 [frontend] 북마크 기능 추가
  frontend/src/components/Apply/FilterAndList/PListContainer.jsx
  frontend/src/components/Apply/FilterAndList/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/PFeedInfoContainer.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/index.jsx
  frontend/src/utils/feedApi.js
Labels: Asking for Review, Frontend

#174 [frontend] paging/ 참여완료 api 연동
  frontend/package.json
  frontend/src/components/BProfile/BCompleteModal/index.jsx
  frontend/src/components/BProfile/BCompleteModal/style.jsx
  frontend/src/components/BProfile/BMakeListBox/PBMakeListBox.jsx
  frontend/src/components/BProfile/BMakeListBox/index.jsx
  frontend/src/components/BProfile/BReviewBox/PBReviewBox.jsx
  frontend/src/components/BProfile/BReviewBox/index.jsx
  frontend/src/components/Common/FeedBox/BProfileFeed/index.jsx
  frontend/src/components/Common/FeedBox/ProfileFeed/index.jsx
  frontend/src/components/Common/Pagination/Paging.css
  frontend/src/components/Common/Pagination/index.jsx
  frontend/src/components/Common/ReviewModal/index.jsx
  frontend/src/components/Common/ReviewModal/style.jsx
  frontend/src/components/Profile/JoinListBox/PJoinListBox.jsx
  frontend/src/components/Profile/JoinListBox/index.jsx
  frontend/src/utils/bprofileApi.js
  frontend/src/utils/feedApi.js
  frontend/src/utils/profileApi.js
  frontend/src/utils/reviewApi.js
  frontend/yarn.lock
Labels: Asking for Review, Frontend

#179 [frontend] 리스트페이지 필터 구현, api에 맞춰 수정
  frontend/package.json
  frontend/src/components/Apply/FilterAndList/PBtnContainer.jsx
  frontend/src/components/Apply/FilterAndList/PCategoryFilter.jsx
  frontend/src/components/Apply/FilterAndList/PDetailFilter.jsx
  frontend/src/components/Apply/FilterAndList/PFilterContainer.jsx
  frontend/src/components/Apply/FilterAndList/PListContainer.jsx
  frontend/src/components/Apply/FilterAndList/index.jsx
  frontend/src/components/Apply/range.css
  frontend/src/components/Apply/style.jsx
  frontend/src/components/Common/index.jsx
  frontend/src/recoil/filterState.js
  frontend/src/utils/feedApi.js
  frontend/yarn.lock
Labels: Asking for Review, Frontend

#177 [backend] 즐겨찾기 목록 Response 수정
  backend/src/main/java/com/minibeit/post/dto/PostResponse.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
Labels: Asking for Review, Backend

#180 [backend] 게시물(Business) 통합테스트 작성, 후기 수정 버그 수정, 단건조회 response data 추가,회원탈퇴,비즈니스 프로필 삭제 구현
  backend/.gitignore
  backend/src/docs/asciidoc/user.adoc
  backend/src/main/java/com/minibeit/businessprofile/domain/BusinessProfile.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileRepository.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileService.java
  backend/src/main/java/com/minibeit/businessprofile/service/exception/BusinessProfileInWork.java
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessProfileController.java
  backend/src/main/java/com/minibeit/post/domain/PostDoDate.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepository.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/dto/PostResponse.java
  backend/src/main/java/com/minibeit/post/service/PostByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/exception/ExistApprovedApplicant.java
  backend/src/main/java/com/minibeit/post/web/PostByBusinessController.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/service/exception/UserHaveBusinessProfile.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/rest/AuthController.http
  backend/src/rest/BusinessProfileController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/ServiceIntegrationTest.java
  backend/src/test/java/com/minibeit/post/service/PostByBusinessFindServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostByBusinessControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend

#181 [frontend] 모집하기 구현
  frontend/src/components/Common/Modal/RecruitConfirmModal/index.jsx
  frontend/src/components/Common/Modal/RecruitConfirmModal/style.jsx
  frontend/src/components/Common/PVImg/index.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PCategorySelect.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PDateSelect.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PImgAndAddress.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PInfoData.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PSchoolSelect.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PSelectBProfile.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PTimeSelect.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PTimeSelectModal.jsx
  frontend/src/components/Recruit/CreateFeedContainer/index.jsx
  frontend/src/components/Recruit/style.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/pages/Recruit/index.jsx
  frontend/src/utils/feedApi.js
  frontend/src/utils/index.jsx
Labels: Asking for Review, Frontend

#184 [backend] Post 통합 테스트, RejectPost 통합테스트 작성
  backend/src/main/java/com/minibeit/common/domain/BaseEntity.java
  backend/src/main/java/com/minibeit/common/dto/PageDto.java
  backend/src/main/java/com/minibeit/post/domain/Post.java
  backend/src/main/java/com/minibeit/post/domain/PostLike.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostLikeRepository.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/domain/repository/RejectPostRepository.java
  backend/src/main/java/com/minibeit/post/domain/repository/RejectPostRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/RejectRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/service/RejectPostService.java
  backend/src/main/java/com/minibeit/post/web/PostController.java
  backend/src/main/resources/db/migration/V20210907140733__Create_Post_Like_Table.sql
  backend/src/rest/AuthController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/rest/RejectPostController.http
  backend/src/test/java/com/minibeit/post/service/PostByBusinessFindServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostServiceTest.java
  backend/src/test/java/com/minibeit/post/service/RejectPostServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
Labels: Asking for Review, Backend

#189 [frontend] 시간 리스트, useEffect 삭제
  frontend/src/components/BProfile/BManageModal/index.jsx
  frontend/src/components/Common/Modal/ApplyConfirmModal/index.jsx
  frontend/src/components/Common/ReviewModal/index.jsx
  frontend/src/components/Recruit/CreateFeedContainer/PDateSelect.jsx
  frontend/src/utils/bprofileApi.js
  frontend/src/utils/feedApi.js
  frontend/src/utils/reviewApi.js
Labels: Asking for Review, Frontend

#198 [backend] 게시물 단건조회, 리뷰 목록 조회 response data 추가
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileReviewRepositoryCustom.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileReviewRepositoryImpl.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfileReviewResponse.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileReviewService.java
  backend/src/main/java/com/minibeit/post/dto/PostDto.java
  backend/src/main/java/com/minibeit/user/domain/repository/UserRepositoryCustom.java
  backend/src/main/java/com/minibeit/user/domain/repository/UserRepositoryImpl.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/rest/AuthController.http
  backend/src/rest/BusinessProfileReviewController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessProfileReviewControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
  backend/src/test/java/com/minibeit/user/service/UserServiceTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend

#204 [backend] PostApplicant Service 통합테스트 작성
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepository.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantService.java
  backend/src/rest/PostApplicantController.http
  backend/src/test/java/com/minibeit/post/service/PostApplicantByBusinessFindServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostApplicantByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostApplicantServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostByBusinessFindServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostServiceTest.java
  backend/src/test/java/com/minibeit/post/service/RejectPostServiceTest.java
  backend/src/test/java/com/minibeit/user/service/UserServiceTest.java
Labels: Asking for Review, Backend

#206 [frontend] callback image -> navbar 에 도입 초기 가입시 모달 overflow이상한거 수정 닉네임 정규표현식 적용 후기 글자수 제한
  frontend/src/components/BProfile/BCompleteModal/style.jsx
  frontend/src/components/BProfile/BManageModal/style.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/BProfileEdit/style.jsx
  frontend/src/components/Common/NavBar/index.jsx
  frontend/src/components/Common/NavBar/style.jsx
  frontend/src/components/Common/ReviewModal/index.jsx
  frontend/src/components/Common/ReviewModal/style.jsx
  frontend/src/components/Profile/ProfileEditModal/PProfileEditModal.jsx
  frontend/src/components/Profile/ProfileEditModal/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/SignupInfo/SignupFinish/index.jsx
  frontend/src/components/SignupInfo/SignupFinish/style.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/PSignupInfoForm.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/index.jsx
  frontend/src/components/SignupInfo/style.jsx
Labels: Asking for Review, Frontend

#210 [backend] s3 이미지 업로드 수정, 로그인 성공 url 변경
  backend/src/main/java/com/minibeit/common/component/file/S3Uploader.java
  backend/src/main/java/com/minibeit/security/oauth/OAuth2SuccessHandler.java
  backend/src/main/resources/mock/images/test.jpg
  backend/src/rest/UserController.http
Labels: Asking for Review, Backend

#205 [frontend] 수정하기 기능 구현
  frontend/src/App.js
  frontend/src/components/ApplyDetail/FeedInfoContainer/PApplyControll.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/PFeedInfoContainer.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/PReviewBox.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/PTimeSelectBox.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainer/index.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/Common/FeedBox/BProfileFeed/index.jsx
  frontend/src/components/Common/FeedBox/ProfileFeed/index.jsx
  frontend/src/components/Common/PVImg/index.jsx
  frontend/src/components/RecruitEdit/FEContainer/PFEContainer.jsx
  frontend/src/components/RecruitEdit/FEContainer/index.jsx
  frontend/src/components/RecruitEdit/index.jsx
  frontend/src/components/RecruitEdit/style.jsx
  frontend/src/pages/RecruitEdit/index.jsx
  frontend/src/utils/feedApi.js
Labels: Asking for Review, Frontend

#211 [backend] 비즈니스 프로필 통합 테스트
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfileResponse.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileService.java
  backend/src/main/java/com/minibeit/businessprofile/service/exception/BusinessProfileNotPermission.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/rest/BusinessProfileController.http
  backend/src/test/java/com/minibeit/businessprofile/service/BusinessProfileReviewServiceTest.java
  backend/src/test/java/com/minibeit/businessprofile/service/BusinessProfileServiceTest.java
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessProfileControllerTest.java
Labels: Asking for Review, Backend

#230 [backend] backend 무중단 배포 구현
  backend/appspec.yml
  backend/scripts/health.sh
  backend/scripts/profile.sh
  backend/scripts/start.sh
  backend/scripts/stop.sh
  backend/scripts/switch.sh
  backend/src/main/java/com/minibeit/config/SecurityConfig.java
  backend/src/main/java/com/minibeit/deploy/ProfileController.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: Asking for Review, Backend

#233 yarn 파일 삭제
  node_modules/.yarn-integrity
  yarn.lock
Labels: Asking for Review, Frontend

#245 [frontend] 페이징, 필터 오류 수정
  frontend/src/components/Apply/CategoryFilter/presenter.jsx
  frontend/src/components/Apply/DetailFilter/presenter.jsx
  frontend/src/components/Apply/SearchBar/index.jsx
  frontend/src/components/Apply/SearchBar/presenter.jsx
  frontend/src/components/Apply/index.jsx
  frontend/src/components/Common/SchoolSelect/index.jsx
  frontend/src/constants/FeedCategory.js
  frontend/src/recoil/filterState.js
  frontend/src/utils/feedApi.js
Labels: Asking for Review, Frontend

#248 [frontend] 모집하기 예외추가
  frontend/src/components/Common/NavBar/index.jsx
  frontend/src/components/Common/NavBar/style.jsx
  frontend/src/components/Recruit/BProfileSelect/presenter.jsx
  frontend/src/components/Recruit/DateSelect/presenter.jsx
  frontend/src/components/Recruit/InfoData/presenter.jsx
  frontend/src/components/Recruit/SchoolSelect/index.jsx
  frontend/src/components/Recruit/SchoolSelect/presenter.jsx
  frontend/src/components/Recruit/index.jsx
  frontend/src/components/Recruit/style.jsx
Labels: Asking for Review, Frontend

#251 [frontend] api맞춰 수정
  frontend/src/components/Apply/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/ReviewBox/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/TimeSelectBox/index.jsx
  frontend/src/components/ApplyDetail/index.jsx
  frontend/src/components/BProfile/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileJoinModal/NicknameCombo.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileJoinModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/BProfile/BProfileList/index.jsx
  frontend/src/components/BProfile/BProfileMain/index.jsx
  frontend/src/components/BProfile/BProfileReviewList/index.jsx
  frontend/src/components/Common/FeedBox/BProfileFeed/index.jsx
  frontend/src/components/Common/FeedBox/ProfileFeed/index.jsx
  frontend/src/components/Common/Modal/RecruitConfirmModal/index.jsx
  frontend/src/components/Common/Modal/SchoolSelectModal/index.jsx
  frontend/src/components/Common/SchoolSearch/index.jsx
  frontend/src/components/Common/SchoolSelect/index.jsx
  frontend/src/components/Profile/JoinListBox/index.jsx
  frontend/src/components/Profile/LikeListBox/index.jsx
  frontend/src/components/Profile/UserInfoBox/ProfileEditModal/index.jsx
  frontend/src/components/Profile/UserInfoBox/index.jsx
  frontend/src/components/Recruit/index.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/index.jsx
Labels: Asking for Review, Frontend

#249 [backend] api 공통 response format 수정
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/businessprofile.adoc
  backend/src/docs/asciidoc/post.adoc
  backend/src/docs/asciidoc/user.adoc
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessProfileController.java
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessProfileReviewController.java
  backend/src/main/java/com/minibeit/common/advice/CustomExceptionHandler.java
  backend/src/main/java/com/minibeit/common/advice/ErrorResponse.java
  backend/src/main/java/com/minibeit/common/dto/ApiResult.java
  backend/src/main/java/com/minibeit/post/web/PostApplicantByBusinessController.java
  backend/src/main/java/com/minibeit/post/web/PostApplicantController.java
  backend/src/main/java/com/minibeit/post/web/PostByBusinessController.java
  backend/src/main/java/com/minibeit/post/web/PostController.java
  backend/src/main/java/com/minibeit/post/web/RejectPostController.java
  backend/src/main/java/com/minibeit/school/web/SchoolController.java
  backend/src/main/java/com/minibeit/user/web/AuthController.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/rest/PostController.http
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessProfileControllerTest.java
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessProfileReviewControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostApplicantByBusinessControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostApplicantControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostByBusinessControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
  backend/src/test/java/com/minibeit/post/web/RejectPostControllerTest.java
  backend/src/test/java/com/minibeit/school/web/SchoolControllerTest.java
  backend/src/test/java/com/minibeit/user/web/AuthControllerTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend
