Repository minibeit/minibeit, pull requests merged in 2021-11, with the labels that each got.

#255 [backend] 파일 업로드 오류 수정
  backend/src/main/java/com/minibeit/common/component/file/S3Uploader.java
  backend/src/main/java/com/minibeit/common/dto/SavedFile.java
  backend/src/rest/AuthController.http
  backend/src/rest/UserController.http
Labels: Asking for Review, Backend

#253 [backend] 알림기능 구현
  backend/src/docs/asciidoc/user.adoc
  backend/src/main/java/com/minibeit/DataLoader.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepository.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/scheduler/PostRejectScheduler.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/service/RejectPostService.java
  backend/src/main/java/com/minibeit/user/domain/Alarm.java
  backend/src/main/java/com/minibeit/user/domain/AlarmStatus.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V20210822190459__Create_User_Table.sql
  backend/src/rest/AuthController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/user/service/UserServiceTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
  backend/src/test/resources/application.yml
Labels: Asking for Review, Backend

#256 [backend] 파일 업로드 오류 수정
  backend/src/main/java/com/minibeit/common/component/file/S3Uploader.java
  backend/src/main/java/com/minibeit/deploy/ProfileController.java
  backend/src/rest/ProfileController.http
  backend/src/rest/UserController.http
  backend/src/rest/http-client.env.json
Labels: Asking for Review, Backend

#258 [backend] 무중단 배포 오류 수정, api 맞춰서 refresh token 수정
  backend/scripts/profile.sh
  frontend/src/utils/common/interceptors.js
Labels: Asking for Review, Backend

#260 [backend] 파일 s3에도 삭제되도록 구현, 알람 api 제거
  backend/src/docs/asciidoc/user.adoc
  backend/src/main/java/com/minibeit/DataLoader.java
  backend/src/main/java/com/minibeit/avatar/service/AvatarService.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileService.java
  backend/src/main/java/com/minibeit/common/component/file/S3Uploader.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/scheduler/PostRejectScheduler.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/service/RejectPostService.java
  backend/src/main/java/com/minibeit/user/domain/Alarm.java
  backend/src/main/java/com/minibeit/user/domain/AlarmStatus.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V20210822190459__Create_User_Table.sql
  backend/src/rest/AuthController.http
  backend/src/rest/BusinessProfileController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/rest/UserController.http
  backend/src/rest/http-client.env.json
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/user/service/UserServiceTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
  backend/src/test/resources/application.yml
Labels: Asking for Review, Backend

#263 Feature/226
  frontend/src/components/ApplyDetail/FeedInfoContainter/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/index.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/presenter.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/style.jsx
  frontend/src/components/Main/MainContent/PMainJumbotron.jsx
  frontend/src/components/Main/MainContent/index.jsx
  frontend/src/components/Main/MainSlide/index.jsx
  frontend/src/components/Main/index.jsx
  frontend/src/components/Main/style.jsx
  frontend/src/pages/Main/index.jsx
  frontend/src/pages/SignupInfo/index.jsx
Labels: Asking for Review, Frontend

#265 [backend] request data 유효성 검사
  backend/build.gradle
  backend/src/main/java/com/minibeit/avatar/domain/Avatar.java
  backend/src/main/java/com/minibeit/avatar/domain/AvatarType.java
  backend/src/main/java/com/minibeit/avatar/service/AvatarService.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfileRequest.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfilesReviewRequest.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileService.java
  backend/src/main/java/com/minibeit/businessprofile/service/exception/BusinessProfileAdminCantCancelException.java
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessProfileController.java
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessProfileReviewController.java
  backend/src/main/java/com/minibeit/common/component/file/S3Uploader.java
  backend/src/main/java/com/minibeit/common/domain/BaseEntity.java
  backend/src/main/java/com/minibeit/common/domain/FileServer.java
  backend/src/main/java/com/minibeit/common/domain/FileType.java
  backend/src/main/java/com/minibeit/common/dto/SavedFile.java
  backend/src/main/java/com/minibeit/post/domain/PostFile.java
  backend/src/main/java/com/minibeit/post/dto/PostApplicantRequest.java
  backend/src/main/java/com/minibeit/post/dto/PostDto.java
  backend/src/main/java/com/minibeit/post/dto/PostFileDto.java
  backend/src/main/java/com/minibeit/post/dto/PostRequest.java
  backend/src/main/java/com/minibeit/post/service/RejectPostService.java
  backend/src/main/java/com/minibeit/post/web/PostApplicantByBusinessController.java
  backend/src/main/java/com/minibeit/post/web/PostByBusinessController.java
  backend/src/main/java/com/minibeit/security/exception/InvalidRefreshTokenException.java
  backend/src/main/java/com/minibeit/security/exception/RefreshTokenNotFoundException.java
  backend/src/main/java/com/minibeit/security/token/JwtAuthEntryPoint.java
  backend/src/main/java/com/minibeit/user/dto/AuthRequest.java
  backend/src/main/java/com/minibeit/user/dto/UserRequest.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/rest/BusinessProfileController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/businessprofile/service/BusinessProfileServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
  backend/src/test/java/com/minibeit/user/service/UserServiceTest.java
Labels: Asking for Review, Backend

#266 [backend] 도메인 테스트
  backend/src/test/java/com/minibeit/avatar/domain/AvatarTest.java
  backend/src/test/java/com/minibeit/businessprofile/domain/BusinessProfileReviewTest.java
  backend/src/test/java/com/minibeit/businessprofile/domain/BusinessProfileTest.java
  backend/src/test/java/com/minibeit/user/domain/UserTest.java
Labels: Asking for Review, Backend

#271 [backend] 알림 기능 구현
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/mail.adoc
  backend/src/main/java/com/minibeit/DataLoader.java
  backend/src/main/java/com/minibeit/mail/condition/ApproveCancelCondition.java
  backend/src/main/java/com/minibeit/mail/condition/ApproveCondition.java
  backend/src/main/java/com/minibeit/mail/condition/MailCondition.java
  backend/src/main/java/com/minibeit/mail/condition/PostMailCondition.java
  backend/src/main/java/com/minibeit/mail/condition/RejectCondition.java
  backend/src/main/java/com/minibeit/mail/dto/PostStatusMail.java
  backend/src/main/java/com/minibeit/mail/dto/PostStatusMailRequest.java
  backend/src/main/java/com/minibeit/mail/service/PostStatusMailService.java
  backend/src/main/java/com/minibeit/mail/web/PostStatusMailController.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/dto/PostApplicantDto.java
  backend/src/main/java/com/minibeit/post/dto/PostResponse.java
  backend/src/main/java/com/minibeit/post/scheduler/PostRejectScheduler.java
  backend/src/main/java/com/minibeit/security/oauth/OAuthAttributes.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V20210822190459__Create_User_Table.sql
  backend/src/rest/MailController.http
  backend/src/test/java/com/minibeit/MailTestConfig.java
  backend/src/test/java/com/minibeit/ServiceIntegrationTest.java
  backend/src/test/java/com/minibeit/mail/web/PostStatusMailControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostApplicantByBusinessControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
Labels: Asking for Review, Backend

#274 [frontend] 게시물 카테고리 수정
  frontend/src/components/Apply/CategoryFilter/presenter.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/ApplyDetail/TitleContiner/index.jsx
  frontend/src/components/ApplyDetail/index.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/Recruit/InfoData/presenter.jsx
  frontend/src/components/Recruit/index.jsx
  frontend/src/constants/FeedCategory.js
  frontend/src/recoil/filterState.js
Labels: Asking for Review, Frontend

#276 [frontend] 알림창만들기
  frontend/src/components/Common/Alert/AskCancelConfirm/index.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/style.jsx
  frontend/src/components/Common/Alert/AskCompleteApplication/index.jsx
  frontend/src/components/Common/Alert/AskCompleteApplication/style.jsx
  frontend/src/components/Common/Alert/AskEndReason/index.jsx
  frontend/src/components/Common/Alert/AskEndReason/style.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/index.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/style.jsx
  frontend/src/components/Common/Alert/CompleteApplication/index.jsx
  frontend/src/components/Common/Alert/CompleteApplication/style.jsx
  frontend/src/components/Common/Alert/Conditions/index.jsx
  frontend/src/components/Common/Alert/Conditions/style.jsx
  frontend/src/components/Common/Alert/DateChange/index.jsx
  frontend/src/components/Common/Alert/DateChange/style.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/index.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/style.jsx
  frontend/src/components/Common/Alert/DeleteFeed/index.jsx
  frontend/src/components/Common/Alert/DeleteFeed/style.jsx
  frontend/src/components/Common/Alert/DuplicateDate/index.jsx
  frontend/src/components/Common/Alert/DuplicateDate/style.jsx
  frontend/src/components/Common/Alert/EditOnlyDetails/index.jsx
  frontend/src/components/Common/Alert/EditOnlyDetails/style.jsx
  frontend/src/components/Common/Alert/EndRecruting/index.jsx
  frontend/src/components/Common/Alert/EndRecruting/style.jsx
  frontend/src/components/Common/Alert/EndSchedule/index.jsx
  frontend/src/components/Common/Alert/EndSchedule/style.jsx
  frontend/src/components/Common/Alert/NoAuthority/index.jsx
  frontend/src/components/Common/Alert/NoAuthority/style.jsx
  frontend/src/components/Common/Alert/NotEnoughWrite/index.jsx
  frontend/src/components/Common/Alert/NotEnoughWrite/style.jsx
  frontend/src/components/Common/Alert/PersonalInformation/index.jsx
  frontend/src/components/Common/Alert/PersonalInformation/style.jsx
  frontend/src/components/Common/Alert/Portal.jsx
  frontend/src/components/Common/Alert/Recruting/index.jsx
  frontend/src/components/Common/Alert/Recruting/style.jsx
  frontend/src/components/Common/Alert/RegisterFeed/index.jsx
  frontend/src/components/Common/Alert/RegisterFeed/style.jsx
  frontend/src/components/Common/Alert/RejectApplicant/index.jsx
  frontend/src/components/Common/Alert/RejectApplicant/style.jsx
  frontend/src/components/Common/Alert/RemoveAccount/index.jsx
  frontend/src/components/Common/Alert/RemoveAccount/style.jsx
  frontend/src/components/Main/index.jsx
Labels: Asking for Review, Frontend

#277 [frontend] 상세이미지 수정하기
  frontend/src/components/ApplyDetail/style.jsx
Labels: Asking for Review, Frontend

#280 [frontend] 비즈니스 프로필 기능모달 추가, 리스트 페이징 구현
  frontend/src/components/Apply/SearchBar/SearchInput.jsx
  frontend/src/components/Apply/SearchBar/presenter.jsx
  frontend/src/components/ApplyDetail/ApplyController/index.jsx
  frontend/src/components/ApplyDetail/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BCompleteModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedBox/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/NicknameCombo.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/UserSearch.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/Common/Modal/ApplyConfirmModal/index.jsx
  frontend/src/components/Common/Modal/ApplyConfirmModal/style.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/index.jsx
  frontend/src/components/Common/Modal/RecruitConfirmModal/index.jsx
  frontend/src/components/Common/Modal/RecruitConfirmModal/style.jsx
  frontend/src/components/Common/index.jsx
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/SearchInput.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/presenter.jsx
  frontend/src/components/Profile/UserContainer/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/Recruit/SchoolSelect/SearchInput.jsx
  frontend/src/components/Recruit/SchoolSelect/presenter.jsx
  frontend/src/utils/bprofileApi.js
Labels: Asking for Review, Frontend

#282 [backend] 모집 승인 추가로직 구현
  backend/src/main/java/com/minibeit/post/domain/PostApplicant.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/exception/ExistApprovedApplicantException.java
  backend/src/main/java/com/minibeit/post/service/exception/ExistedApplySameTimeException.java
  backend/src/rest/BusinessProfileController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/post/service/PostApplicantByBusinessServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostByBusinessServiceTest.java
Labels: Asking for Review, Backend

#285 [backend] 기능 추가 및 리펙토링
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/web/PostController.java
  backend/src/rest/AuthController.http
  backend/src/rest/BusinessProfileController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/post/service/PostServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
  backend/src/test/java/com/minibeit/school/web/SchoolControllerTest.java
Labels: Asking for Review, Backend

#283 [frontend] 피드작성 관련 알림창 연결
  frontend/public/file.png
  frontend/src/App.js
  frontend/src/components/Common/Alert/NotEnoughWrite/index.jsx
  frontend/src/components/Common/Alert/NotEnoughWrite/style.jsx
  frontend/src/components/Common/Alert/RegisterFeed/index.jsx
  frontend/src/components/Common/Alert/RegisterFeed/style.jsx
  frontend/src/components/Main/index.jsx
  frontend/src/components/Recruit/InfoData/index.jsx
  frontend/src/components/Recruit/InfoData/presenter.jsx
  frontend/src/components/Recruit/index.jsx
  frontend/src/components/RecruitComplete/index.jsx
  frontend/src/components/RecruitComplete/style.jsx
  frontend/src/pages/RecruitComplete/index.jsx
Labels: Asking for Review, Frontend

#288 [frontend] 비즈니스 프로필 실험자 관리 모달 수정
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
Labels: Asking for Review, Frontend

#291 [frontend] 메일 기능 구현
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/utils/mailApi.js
Labels: Asking for Review, Frontend

#290 [backend] 마이페이지 목록 정렬기준 추가
  backend/src/docs/asciidoc/post.adoc
  backend/src/main/java/com/minibeit/common/dto/PageDto.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/RejectPostService.java
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/post/service/RejectPostServiceTest.java
Labels: Asking for Review, Backend

#293 [backend] 확정자 취소시 메일 전송 추가 , 즐겨찾기 로직 추가
  backend/src/docs/asciidoc/post.adoc
  backend/src/main/java/com/minibeit/mail/condition/ApplicantCancelCondition.java
  backend/src/main/java/com/minibeit/mail/condition/PostMailCondition.java
  backend/src/main/java/com/minibeit/mail/dto/PostStatusMail.java
  backend/src/main/java/com/minibeit/mail/dto/PostStatusMailRequest.java
  backend/src/main/java/com/minibeit/mail/service/PostStatusMailService.java
  backend/src/main/java/com/minibeit/mail/web/PostStatusMailController.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostLikeRepository.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostLikeRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostLikeRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/dto/PostResponse.java
  backend/src/main/java/com/minibeit/post/scheduler/PostRejectScheduler.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantService.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/web/PostController.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/mail/web/PostStatusMailControllerTest.java
  backend/src/test/java/com/minibeit/post/service/PostApplicantServiceTest.java
  backend/src/test/java/com/minibeit/post/service/PostServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend

#297 [frontend] 회원가입 폼 구현
  frontend/src/App.js
  frontend/src/components/Common/Progressbar/index.jsx
  frontend/src/components/SignUp/SignupFinish/index.jsx
  frontend/src/components/SignUp/SignupFinish/style.jsx
  frontend/src/components/SignUp/SignupForm/InfoData/index.jsx
  frontend/src/components/SignUp/SignupForm/JobSelect/index.jsx
  frontend/src/components/SignUp/SignupForm/SchoolSelect/SearchInput.jsx
  frontend/src/components/SignUp/SignupForm/SchoolSelect/index.jsx
  frontend/src/components/SignUp/SignupForm/index.jsx
  frontend/src/components/SignUp/SignupForm/style.jsx
  frontend/src/components/SignUp/index.jsx
  frontend/src/components/SignupInfo/SignupFinish/index.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/PSignupInfoForm.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/index.jsx
  frontend/src/components/SignupInfo/index.jsx
  frontend/src/components/SignupInfo/style.jsx
  frontend/src/constants/JobList.js
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/pages/SignUP/index.jsx
  frontend/src/pages/SignupInfo/index.jsx
  frontend/src/recoil/changeState.js
  frontend/src/recoil/signupState.js
  frontend/src/utils/auth.js
Labels: Asking for Review, Frontend

#299 [frontend] 로그인, 메일 api맞춰 코드 수정
  frontend/src/App.js
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/style.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/utils/mailApi.js
Labels: Asking for Review, Frontend

#301 [frontend] 회원가입 인증 구현
  frontend/src/App.js
  frontend/src/components/SignUp/SignupForm/InfoData/index.jsx
  frontend/src/components/SignUp/SignupForm/index.jsx
  frontend/src/components/SignUp/SignupForm/style.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/pages/SignUp/index.jsx
  frontend/src/recoil/signupState.js
  frontend/src/recoil/userState.js
  frontend/src/utils/auth.js
  frontend/src/utils/mailApi.js
  frontend/src/utils/smsApi.js
Labels: Asking for Review, Frontend

#302 [backend] 이메일 인증, 폰 인증 구현
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/mail.adoc
  backend/src/docs/asciidoc/phonepush.adoc
  backend/src/main/java/com/minibeit/mail/condition/ApplicantCancelPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/ApproveCancelPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/ApprovePostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/MailPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/RejectPostCondition.java
  backend/src/main/java/com/minibeit/mail/dto/MailRequest.java
  backend/src/main/java/com/minibeit/mail/dto/PostStatusMail.java
  backend/src/main/java/com/minibeit/mail/dto/PostStatusMailRequest.java
  backend/src/main/java/com/minibeit/mail/service/MailService.java
  backend/src/main/java/com/minibeit/mail/service/PostStatusMailService.java
  backend/src/main/java/com/minibeit/mail/web/MailController.java
  backend/src/main/java/com/minibeit/mail/web/PostStatusMailController.java
  backend/src/main/java/com/minibeit/message/dto/MessageDto.java
  backend/src/main/java/com/minibeit/message/dto/SmsMessageRequest.java
  backend/src/main/java/com/minibeit/message/dto/SmsRequest.java
  backend/src/main/java/com/minibeit/message/dto/SmsResponse.java
  backend/src/main/java/com/minibeit/message/service/SmsService.java
  backend/src/main/java/com/minibeit/message/web/SmsController.java
  backend/src/main/java/com/minibeit/post/scheduler/PostRejectScheduler.java
  backend/src/main/java/com/minibeit/security/oauth/OAuth2SuccessHandler.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/main/java/com/minibeit/user/domain/UserVerificationCode.java
  backend/src/main/java/com/minibeit/user/domain/VerificationKinds.java
  backend/src/main/java/com/minibeit/user/domain/repository/UserVerificationCodeRepository.java
  backend/src/main/java/com/minibeit/user/dto/AuthRequest.java
  backend/src/main/java/com/minibeit/user/dto/UserRequest.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/service/exception/InvalidVerificationCodeException.java
  backend/src/main/java/com/minibeit/user/service/exception/UserVerificationCodeNotFoundException.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/main/resources/db/migration/V20211116153232__Create_User_Verification_Code.sql
  backend/src/rest/AuthController.http
  backend/src/rest/MailController.http
  backend/src/rest/SmsController.http
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/mail/web/MailControllerTest.java
  backend/src/test/java/com/minibeit/message/web/SmsControllerTest.java
  backend/src/test/java/com/minibeit/user/domain/UserTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
  backend/src/test/resources/application.yml
Labels: Asking for Review, Backend

#305 [backend] 내정보 조회 , 인증코드 확인 response data 추가
  backend/build.gradle
  backend/src/main/java/com/minibeit/user/domain/repository/UserVerificationCodeRepository.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/test/java/com/minibeit/businessprofile/service/BusinessProfileReviewServiceTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend

#298 [frontend] 알림창 연결
  frontend/src/App.js
  frontend/src/components/ApplyDetail/ApplyController/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/ApplyDetail/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedBox/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/style.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/index.jsx
  frontend/src/components/Common/Alert/AskCompleteApplication/index.jsx
  frontend/src/components/Common/Alert/AskEndReason/index.jsx
  frontend/src/components/Common/Alert/AskEndReason/style.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/index.jsx
  frontend/src/components/Common/Alert/CompleteApplication/index.jsx
  frontend/src/components/Common/Alert/CompleteApplication/style.jsx
  frontend/src/components/Common/Alert/Conditions/index.jsx
  frontend/src/components/Common/Alert/Conditions/style.jsx
  frontend/src/components/Common/Alert/DateChange/index.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/index.jsx
  frontend/src/components/Common/Alert/EditOnlyDetails/index.jsx
  frontend/src/components/Common/Alert/EndRecruting/index.jsx
  frontend/src/components/Common/Alert/EndSchedule/index.jsx
  frontend/src/components/Common/Alert/PersonalInformation/index.jsx
  frontend/src/components/Common/Alert/PersonalInformation/style.jsx
  frontend/src/components/Common/Alert/Recruting/index.jsx
  frontend/src/components/Common/Alert/RejectApplicant/index.jsx
  frontend/src/components/Common/Modal/CreateAuthModal/index.jsx
  frontend/src/components/Common/Modal/CreateAuthModal/style.jsx
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Recruit/DateSelect/index.jsx
  frontend/src/components/Recruit/DateSelect/presenter.jsx
  frontend/src/components/Recruit/index.jsx
  frontend/src/pages/SignUp/index.jsx
Labels: Asking for Review, Frontend

#307 [backend] logback 설정 수정
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: Asking for Review, Backend

#310 [frontend] 회원정보 수정 메일,sms 구현, 회원가입 수정, 확정취소 메일 구현
  frontend/src/components/ApplyDetail/ApplyController/index.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/SearchInput.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/presenter.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/style.jsx
  frontend/src/components/SignUp/SignupForm/InfoData/index.jsx
  frontend/src/components/SignUp/SignupForm/index.jsx
  frontend/src/components/SignUp/SignupForm/style.jsx
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/recoil/signupState.js
  frontend/src/utils/auth.js
  frontend/src/utils/mailApi.js
  frontend/src/utils/profileApi.js
  frontend/src/utils/smsApi.js
Labels: Asking for Review, Frontend

#312 [frontend] 회원정보, 게시물 예외처리
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/style.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/index.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/presenter.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/style.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/presenter.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/style.jsx
  frontend/src/components/Recruit/BProfileSelect/index.jsx
  frontend/src/components/Recruit/BProfileSelect/presenter.jsx
  frontend/src/components/Recruit/InfoData/presenter.jsx
  frontend/src/components/SignUp/SignupForm/InfoData/index.jsx
  frontend/src/components/SignUp/SignupForm/index.jsx
Labels: Asking for Review, Frontend

#309 [backend] logback cloudwatch로 보내기
  backend/build.gradle
  backend/src/main/java/com/minibeit/post/dto/PostRequest.java
  backend/src/main/java/com/minibeit/user/dto/UserRequest.java
  backend/src/main/resources/file-debug-aws-appender.xml
  backend/src/main/resources/file-error-aws-appender.xml
  backend/src/main/resources/file-info-aws-appender.xml
  backend/src/main/resources/file-warn-aws-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: Asking for Review, Backend

#314 [frontend] 프로필 피드카테고리 순서변경, 즐겨찾기 구현
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/UserContainer/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/SignUp/SignupForm/index.jsx
  frontend/src/utils/profileApi.js
Labels: Asking for Review, Frontend

#316 [frontend] 알림창 스크롤 안되게하기
  frontend/src/components/ApplyDetail/ApplyController/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/index.jsx
  frontend/src/components/ApplyDetail/index.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedBox/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/index.jsx
  frontend/src/components/Common/Address/index.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/index.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/style.jsx
  frontend/src/components/Common/Alert/AskCompleteApplication/index.jsx
  frontend/src/components/Common/Alert/AskCompleteApplication/style.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/index.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/style.jsx
  frontend/src/components/Common/Alert/CompleteApplication/index.jsx
  frontend/src/components/Common/Alert/CompleteApplication/style.jsx
  frontend/src/components/Common/Alert/Conditions/index.jsx
  frontend/src/components/Common/Alert/Conditions/style.jsx
  frontend/src/components/Common/Alert/DateChange/index.jsx
  frontend/src/components/Common/Alert/DateChange/style.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/index.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/style.jsx
  frontend/src/components/Common/Alert/EditOnlyDetails/index.jsx
  frontend/src/components/Common/Alert/EditOnlyDetails/style.jsx
  frontend/src/components/Common/Alert/EndRecruting/index.jsx
  frontend/src/components/Common/Alert/EndRecruting/style.jsx
  frontend/src/components/Common/Alert/EndSchedule/index.jsx
  frontend/src/components/Common/Alert/EndSchedule/style.jsx
  frontend/src/components/Common/Alert/NotEnoughWrite/index.jsx
  frontend/src/components/Common/Alert/NotEnoughWrite/style.jsx
  frontend/src/components/Common/Alert/PersonalInformation/index.jsx
  frontend/src/components/Common/Alert/PersonalInformation/style.jsx
  frontend/src/components/Common/Alert/Portal.jsx
  frontend/src/components/Common/Alert/Recruting/index.jsx
  frontend/src/components/Common/Alert/Recruting/style.jsx
  frontend/src/components/Common/Alert/RegisterFeed/index.jsx
  frontend/src/components/Common/Alert/RegisterFeed/style.jsx
  frontend/src/components/Common/Alert/RejectApplicant/index.jsx
  frontend/src/components/Common/Alert/RejectApplicant/style.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/index.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/presenter.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/index.jsx
  frontend/src/components/Common/Modal/CreateAuthModal/index.jsx
  frontend/src/components/Common/Modal/Portal.jsx
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/index.jsx
  frontend/src/components/Recruit/DateSelect/TimeSelectModal.jsx
  frontend/src/components/Recruit/DateSelect/index.jsx
  frontend/src/components/Recruit/DateSelect/presenter.jsx
  frontend/src/components/Recruit/InfoData/index.jsx
  frontend/src/components/Recruit/index.jsx
  frontend/src/components/RecruitComplete/index.jsx
  frontend/src/components/SignUp/SignupForm/index.jsx
Labels: Asking for Review, Frontend

#321 [frontend] profile ul수정, build 경로 수정
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/index.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/index.jsx
  frontend/src/components/Common/Alert/CompleteApplication/index.jsx
  frontend/src/components/Common/Alert/RejectApplicant/index.jsx
  frontend/src/components/Common/NavBar/index.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/index.jsx
  frontend/src/components/Profile/UserContainer/index.jsx
  frontend/src/components/Profile/index.jsx
  frontend/src/components/Recruit/BProfileSelect/index.jsx
  frontend/src/components/Recruit/BProfileSelect/presenter.jsx
  frontend/src/components/SignUp/SignupForm/index.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/pages/Profile/index.jsx
  frontend/src/utils/smsApi.js
  frontend/src/utils/verificationApi.js
Labels: Asking for Review, Frontend

#323 [backend] 이메일 템플릿 맞추기, 메일 비동기로 구현
  backend/build.gradle
  backend/src/docs/asciidoc/mail.adoc
  backend/src/main/java/com/minibeit/config/AsyncConfig.java
  backend/src/main/java/com/minibeit/mail/condition/ApplicantCancelPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/ApproveCancelPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/ApprovePostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/MailPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/RejectPostCondition.java
  backend/src/main/java/com/minibeit/mail/service/MailService.java
  backend/src/main/java/com/minibeit/mail/web/MailController.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepository.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantService.java
  backend/src/main/resources/templates/applicantApprove.html
  backend/src/main/resources/templates/applicantCancel.html
  backend/src/main/resources/templates/applicantReject.html
  backend/src/main/resources/templates/approveCancel.html
  backend/src/main/resources/templates/emailVerification.html
  backend/src/rest/MailController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/mail/web/MailControllerTest.java
Labels: Asking for Review, Backend

#325 [frontend] 주소 모달 스타일
  frontend/src/components/Common/Address/index.jsx
  frontend/src/components/Common/Address/style.jsx
  frontend/src/components/Common/Alert/Conditions/style.jsx
Labels: Asking for Review, Frontend

#326 [frontend] 참여자관리 모달 디자인 수정, 개인프로필 버튼 링크 수정
  frontend/public/css/index.css
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
  frontend/src/components/BProfile/index.jsx
Labels: Asking for Review, Frontend

#330 [frontend] svg 경로 변경
  frontend/src/components/Apply/DetailFilter/index.jsx
  frontend/src/components/Apply/DetailFilter/presenter.jsx
  frontend/src/components/Apply/SearchBar/presenter.jsx
  frontend/src/components/Apply/index.jsx
  frontend/src/components/Apply/style.jsx
  frontend/src/components/Profile/UserContainer/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/svg/경고.svg
  frontend/src/svg/다운로드.svg
  frontend/src/svg/달력.svg
  frontend/src/svg/돋보기.svg
  frontend/src/svg/마이너스.svg
  frontend/src/svg/별.svg
  frontend/src/svg/엑스.svg
  frontend/src/svg/연필.svg
  frontend/src/svg/위치.svg
  frontend/src/svg/유저.svg
  frontend/src/svg/인포.svg
  frontend/src/svg/체크.svg
  frontend/src/svg/플러스.svg
  frontend/src/svg/필터.svg
  frontend/src/svg/홈.svg
  frontend/src/utils/profileApi.js
Labels: Asking for Review, Frontend

#329 [backend] 메일 템플릿 추가 적용, 즐겨찾기 목록 필터링 제거
  backend/src/main/java/com/minibeit/common/dto/ApiResult.java
  backend/src/main/java/com/minibeit/mail/condition/ApplicantCancelPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/ApproveCancelPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/ApprovePostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/MailPostCondition.java
  backend/src/main/java/com/minibeit/mail/condition/RejectPostCondition.java
  backend/src/main/java/com/minibeit/mail/service/MailService.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostDoDateRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostDoDateRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/dto/PostApplicantResponse.java
  backend/src/main/java/com/minibeit/post/scheduler/PostRejectScheduler.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantService.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/web/PostController.java
  backend/src/main/resources/templates/applicantApprove.html
  backend/src/main/resources/templates/applicantCancel.html
  backend/src/main/resources/templates/applicantReject.html
  backend/src/main/resources/templates/approveCancel.html
  backend/src/rest/AuthController.http
  backend/src/rest/PostApplicantController.http
  backend/src/test/java/com/minibeit/post/service/PostServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
Labels: Backend, :sun_with_face: In Progress

#332 [frontend] 게시물 리스트 페이지 추가 구현
  frontend/public/css/react-calendar.css
  frontend/public/index.html
  frontend/src/components/Apply/CategoryFilter/index.jsx
  frontend/src/components/Apply/Filter/CategoryFilter/index.jsx
  frontend/src/components/Apply/Filter/DetailFilter/index.jsx
  frontend/src/components/Apply/Filter/DetailFilter/presenter.jsx
  frontend/src/components/Apply/Filter/DetailFilter/range.css
  frontend/src/components/Apply/Filter/FilterLabel/index.jsx
  frontend/src/components/Apply/Filter/index.jsx
  frontend/src/components/Apply/SearchBar/SearchInput.jsx
  frontend/src/components/Apply/SearchBar/date-picker.css
  frontend/src/components/Apply/SearchBar/index.jsx
  frontend/src/components/Apply/SearchBar/presenter.jsx
  frontend/src/components/Apply/index.jsx
  frontend/src/components/Apply/style.jsx
  frontend/src/components/Common/DateInput/index.jsx
  frontend/src/components/Common/DateInput/style.jsx
  frontend/src/components/Common/Pagination/index.jsx
  frontend/src/components/Common/SchoolSearch/index.jsx
  frontend/src/components/Common/SchoolSearch/style.jsx
  frontend/src/components/Common/index.jsx
  frontend/src/components/Recruit/DateSelect/TimeSelectModal.jsx
  frontend/src/components/Recruit/SchoolSelect/SearchInput.jsx
  frontend/src/components/SignUp/SignupForm/SchoolSelect/SearchInput.jsx
  frontend/src/pages/Apply/index.jsx
Labels: Asking for Review, Frontend

#335 [backend] 확정목록 리스트 조건 수정, 반려 메일 배치 작업 추가
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/scheduler/PostRejectScheduler.java
  backend/src/rest/AuthController.http
  backend/src/rest/PostApplicantController.http
Labels: Asking for Review, Backend

#336 [frontend] 비즈니스프로필 스타일 수정하기
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedBox/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/UserSearch.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/BProfile/BProfileList/index.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/index.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/style.jsx
  frontend/src/components/Common/Alert/EndRecruting/index.jsx
  frontend/src/components/Common/Alert/EndRecruting/style.jsx
  frontend/src/components/Common/Alert/EndSchedule/index.jsx
  frontend/src/components/Common/Alert/EndSchedule/style.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/presenter.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/index.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/presenter.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/style.jsx
  frontend/src/components/Common/Pagination/Paging.css
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/Recruit/InfoData/index.jsx
  frontend/src/components/Recruit/index.jsx
Labels: Asking for Review, Frontend

#339 [frontend] 스타일 수정하기
  frontend/public/images/facebook.png
  frontend/public/images/insta.png
  frontend/src/components/Apply/style.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/Common/Footer/index.jsx
  frontend/src/components/Common/Footer/style.jsx
  frontend/src/components/Common/NavBar/index.jsx
  frontend/src/components/Main/index.jsx
  frontend/src/components/Main/slick.css
  frontend/src/components/Main/style.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/pages/Apply/index.jsx
  frontend/src/pages/ApplyDetail/index.jsx
  frontend/src/pages/BProfile/index.jsx
  frontend/src/pages/ExplainPage/index.jsx
  frontend/src/pages/Main/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Recruit/index.jsx
  frontend/src/pages/RecruitComplete/index.jsx
  frontend/src/pages/SignUp/index.jsx
Labels: Asking for Review, Frontend

#340 [backend] 비즈니스 프로필 후기 구현
  backend/src/docs/asciidoc/businessprofile.adoc
  backend/src/main/java/com/minibeit/businessprofile/domain/BusinessProfileReview.java
  backend/src/main/java/com/minibeit/businessprofile/domain/BusinessReview.java
  backend/src/main/java/com/minibeit/businessprofile/domain/BusinessReviewDetail.java
  backend/src/main/java/com/minibeit/businessprofile/domain/ReviewType.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileReviewRepository.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileReviewRepositoryCustom.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileReviewRepositoryImpl.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessReviewDetailRepository.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessReviewDetailRepositoryCustom.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessReviewDetailRepositoryImpl.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessReviewRepository.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfileReviewResponse.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfilesReviewRequest.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessReviewResponse.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileReviewService.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessReviewService.java
  backend/src/main/java/com/minibeit/businessprofile/service/exception/BusinessReviewDetailNotFoundException.java
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessProfileReviewController.java
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessReviewController.java
  backend/src/main/java/com/minibeit/post/domain/PostApplicant.java
  backend/src/main/java/com/minibeit/post/domain/PostDoDate.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/dto/PostResponse.java
  backend/src/main/resources/db/migration/V20210907142921__Create_Business_Profile_Review_Table.sql
  backend/src/main/resources/db/migration/V20211128190433__Create_Business_Review.sql
  backend/src/main/resources/db/migration/V20211128190605__Create_Business_Review_Detail.sql
  backend/src/rest/BusinessProfileReviewController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/businessprofile/domain/BusinessProfileReviewTest.java
  backend/src/test/java/com/minibeit/businessprofile/service/BusinessProfileReviewServiceTest.java
  backend/src/test/java/com/minibeit/businessprofile/service/BusinessProfileServiceTest.java
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessProfileReviewControllerTest.java
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessReviewControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
Labels: Backend, :sun_with_face: In Progress
