Repository minibeit/minibeit, pull requests merged in 2021-08, with the labels that each got.

#5 [backend] 학교 전체 조회, 내정보 조회 구현, git action 연동
  .github/workflows/main.yml
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/school.adoc
  backend/src/docs/asciidoc/user.adoc
  backend/src/main/java/com/minibeit/school/dto/SchoolResponse.java
  backend/src/main/java/com/minibeit/school/service/SchoolService.java
  backend/src/main/java/com/minibeit/school/web/SchoolController.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/rest/SchoolController.http
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/school/web/SchoolControllerTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Backend, :sun_with_face: In Progress

#6 [frontend] 프론트 리팩토링
  frontend/.gitignore
  frontend/package.json
  frontend/src/components/Login/LoginForm/index.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/index.js
  frontend/src/utils/auth.js
  frontend/src/utils/common/index.js
  frontend/src/utils/common/interceptors.js
  frontend/src/utils/feedApi.js
  frontend/src/utils/refresh.js
  frontend/src/utils/schoolApi.js
  frontend/yarn.lock
Labels: Asking for Review, Frontend

#13 [backend] 소셜로그인 response 변경
  backend/src/main/java/com/minibeit/security/oauth/OAuth2SuccessHandler.java
  backend/src/main/resources/application.yml
Labels: Asking for Review, Backend

#24 [frontend] signup info 수정
  frontend/public/dummydata.json
  frontend/src/components/Common/NavBar.jsx
  frontend/src/components/Profile/UserInfo/PUserInfo.jsx
  frontend/src/components/Profile/UserInfo/index.jsx
  frontend/src/components/Profile/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/index.js
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/utils/auth.js
  frontend/src/utils/common/interceptors.js
  frontend/src/utils/userInfo.js
Labels: Asking for Review, Frontend

#27 [frontend] MyPage 연결
  frontend/public/dummydata.json
  frontend/src/components/Common/NavBar.jsx
  frontend/src/components/Common/style.jsx
  frontend/src/components/Profile/UserInfo/PUserInfo.jsx
  frontend/src/components/Profile/UserInfo/index.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/utils/userInfo.js
Labels: Asking for Review, Frontend

#22 [backend] 회원가입시 학교 1개 선택하도록 수정
  backend/src/docs/asciidoc/user.adoc
  backend/src/main/java/com/minibeit/security/oauth/CustomOAuth2Provider.java
  backend/src/main/java/com/minibeit/security/oauth/OAuth2Config.java
  backend/src/main/java/com/minibeit/security/oauth/OAuth2SuccessHandler.java
  backend/src/main/java/com/minibeit/security/oauth/OAuthAttributes.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/main/java/com/minibeit/user/domain/UserSchool.java
  backend/src/main/java/com/minibeit/user/domain/repository/UserSchoolRepository.java
  backend/src/main/java/com/minibeit/user/dto/UserRequest.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/service/exception/SchoolNotFoundException.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V20210822190459__Create_User_Table.sql
  backend/src/main/resources/db/migration/V20210823144302__Create_User_School_Table.sql
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend

#30 [backend] Fix 회원가입시 학교 1개 선택하도록 수정, 소셜 로그인 수정
  backend/src/main/java/com/minibeit/security/oauth/OAuth2Config.java
  backend/src/main/resources/application.yml
Labels: Asking for Review, Backend

#34 [frontend] business, 생성, 목록조회, 링크
  frontend/src/components/Profile/BProfileNewModal.jsx
  frontend/src/components/Profile/BProfileSection/PBProfileSection.jsx
  frontend/src/components/Profile/BProfileSection/index.jsx
  frontend/src/components/Profile/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/Recruit/FNContainer/PFNContainer.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/PSignupInfoForm.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/utils/auth.js
  frontend/src/utils/bprofileApi.js
  frontend/src/utils/index.jsx
Labels: Asking for Review

#35 [frontend] 로딩메시지 컴포넌트 & 구글 소셜로그인 구현
  frontend/src/components/Common/LoadingSpinner.jsx
  frontend/src/components/Common/index.jsx
  frontend/src/components/Common/style.jsx
  frontend/src/components/Login/LoginForm/PLoginForm.jsx
  frontend/src/components/Profile/UserInfo/index.jsx
  frontend/src/components/Signup/SignupForm/PSignupForm.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/index.jsx
Labels: Asking for Review, Frontend

#38 [frontend] 삭제 조회
  frontend/src/components/BProfile/BProfileInfo/PBProfile.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/BProfile/index.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/pages/BProfile/index.jsx
  frontend/src/utils/bprofileApi.js
Labels: Frontend

#39 [frontend] proptypes 적용
  frontend/package.json
  frontend/src/components/BProfile/BProfileInfo/PBProfile.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/Profile/BProfileNewModal.jsx
  frontend/src/components/Profile/BProfileSection/PBProfileSection.jsx
  frontend/src/components/Profile/UserInfo/PUserInfo.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/PSignupInfoForm.jsx
  frontend/src/pages/BProfile/index.jsx
Labels: Asking for Review, :sun_with_face: In Progress

#41 [backend] 개인프로필, 비즈니스 프로필 파일첨부 기능 구현
  backend/build.gradle
  backend/src/docs/asciidoc/businessprofile.adoc
  backend/src/docs/asciidoc/user.adoc
  backend/src/main/java/com/minibeit/businessprofile/domain/BusinessProfile.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfileRequest.java
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfileResponse.java
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileService.java
  backend/src/main/java/com/minibeit/businessprofile/web/BusinessProfileController.java
  backend/src/main/java/com/minibeit/config/AwsConfig.java
  backend/src/main/java/com/minibeit/file/component/RandomStringBuilder.java
  backend/src/main/java/com/minibeit/file/component/S3Props.java
  backend/src/main/java/com/minibeit/file/component/S3Uploader.java
  backend/src/main/java/com/minibeit/file/domain/File.java
  backend/src/main/java/com/minibeit/file/domain/FileServer.java
  backend/src/main/java/com/minibeit/file/domain/FileType.java
  backend/src/main/java/com/minibeit/file/domain/repository/FileRepository.java
  backend/src/main/java/com/minibeit/file/dto/SavedFile.java
  backend/src/main/java/com/minibeit/file/service/FileService.java
  backend/src/main/java/com/minibeit/file/service/exception/S3FileUploadException.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/main/java/com/minibeit/user/dto/UserRequest.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/main/java/com/minibeit/user/service/UserService.java
  backend/src/main/java/com/minibeit/user/web/UserController.java
  backend/src/main/resources/db/migration/V20210822190459__Create_User_Table.sql
  backend/src/main/resources/db/migration/V20210825131341__Create_Business_Profile_Table.sql
  backend/src/main/resources/db/migration/V20210828153338__Create_File_Table.sql
  backend/src/main/resources/mock/images/enjoy.png
  backend/src/main/resources/mock/images/enjoy2.png
  backend/src/rest/BusinessProfileController.http
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessProfileControllerTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend

#43 [frontend] 회원가입 폼데이터 전환, 개인프로필 이미지 보기 구현
  frontend/src/components/Profile/UserInfo/PUserInfo.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/PSignupInfoForm.jsx
  frontend/src/components/SignupInfo/SignupInfoForm/index.jsx
  frontend/src/utils/auth.js
Labels: Asking for Review, Frontend

#46 [backend] 비즈니스 프로필 단건 조회, 내정보 조회 수정
  backend/src/main/java/com/minibeit/businessprofile/dto/BusinessProfileResponse.java
  backend/src/main/java/com/minibeit/user/dto/UserResponse.java
  backend/src/rest/UserController.http
  backend/src/test/java/com/minibeit/businessprofile/web/BusinessProfileControllerTest.java
  backend/src/test/java/com/minibeit/user/web/UserControllerTest.java
Labels: Asking for Review, Backend

#48 feat:비즈니스 프로필 수정, 삭제, 공유 권한 추가(#31)
  backend/src/main/java/com/minibeit/businessprofile/service/BusinessProfileService.java
Labels: Asking for Review, Backend

#54 [frontend] 비스니스 초대 api
  frontend/src/components/BProfile/BProfileInfo/PBProfile.jsx
  frontend/src/components/BProfile/BProfileJoin/PBProfileJoin.jsx
  frontend/src/components/BProfile/BProfileJoin/index.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/constants/API_URLS.js
  frontend/src/utils/bprofileApi.js
  frontend/src/utils/index.jsx
Labels: Frontend
