Repository minibeit/minibeit, pull requests merged in 2022-01, with the labels that each got.

#423 [frontend] 프론트 기능 및 디자인 수정
  frontend/package.json
  frontend/public/images/하트아이콘.png
  frontend/public/index.html
  frontend/src/components/ApplyDetail/FeedInfoContainter/ReviewBox/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/BProfileReview/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/index.jsx
  frontend/src/components/BProfile/BProfileList/index.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/index.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/presenter.jsx
  frontend/src/components/Common/Modal/ApplyDetailImgsModal/style.jsx
  frontend/src/components/Main/MainSlide/index.jsx
  frontend/src/components/Main/slick.css
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/index.jsx
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/recoil/userState.js
  frontend/yarn.lock
Labels: Asking for Review, Frontend

#424 [frontend] 메인 페이지 반응형 만들기
  frontend/public/css/index.css
  frontend/src/components/Main/index.jsx
  frontend/src/components/Main/style.jsx
  frontend/src/pages/Main/index.jsx
  frontend/src/pages/style.jsx
Labels: Asking for Review, Frontend

#427 [backend] 게시물에 해당하는 지원자 목록 조회 리펙토링
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/dto/PostApplicantDto.java
  backend/src/main/java/com/minibeit/post/service/dto/PostApplicantResponse.java
  backend/src/rest/PostApplicantController.http
  backend/src/test/java/com/minibeit/post/web/PostApplicantByBusinessControllerTest.java
Labels: Asking for Review, Backend

#431 [backend] 개인 프로필 신청현황, 비즈니스 프로필 공고현황
  backend/src/docs/asciidoc/post.adoc
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileRepositoryCustom.java
  backend/src/main/java/com/minibeit/businessprofile/domain/repository/BusinessProfileRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryCustom.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostByBusinessService.java
  backend/src/main/java/com/minibeit/post/service/PostService.java
  backend/src/main/java/com/minibeit/post/service/dto/PostResponse.java
  backend/src/main/java/com/minibeit/post/web/PostByBusinessController.java
  backend/src/main/java/com/minibeit/post/web/PostController.java
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/test/java/com/minibeit/post/service/PostByBusinessFindServiceTest.java
  backend/src/test/java/com/minibeit/post/web/PostByBusinessControllerTest.java
  backend/src/test/java/com/minibeit/post/web/PostControllerTest.java
Labels: Asking for Review, Backend

#430 [frontend] 지원하기 관련 반응형작업
  frontend/public/css/index.css
  frontend/src/components/Apply/Filter/index.jsx
  frontend/src/components/Apply/SearchBar/DoTimeInput/index.jsx
  frontend/src/components/Apply/SearchBar/StartTimeInput/index.jsx
  frontend/src/components/Apply/SearchBar/index.jsx
  frontend/src/components/Apply/style.jsx
  frontend/src/components/ApplyDetail/ApplyControllerForMobile/index.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/TimeSelectBox/presenter.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/ApplyDetail/index.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/Common/NavBar/SideMenu.jsx
  frontend/src/pages/ApplyDetail/index.jsx
  frontend/src/pages/style.jsx
Labels: Asking for Review, Frontend

#434 [backend] 비즈니스 프로필 확정자 목록 수정
  backend/src/main/java/com/minibeit/post/domain/repository/PostApplicantRepositoryImpl.java
  backend/src/main/java/com/minibeit/post/service/PostApplicantByBusinessService.java
Labels: Asking for Review, Backend

#437 [frontend] 모집하기 디자인, 구성 변경
  frontend/package.json
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Recruit/BProfileSelect/index.jsx
  frontend/src/components/Recruit/BProfileSelect/presenter.jsx
  frontend/src/components/Recruit/CategorySelect/index.jsx
  frontend/src/components/Recruit/DataSelect/DateInput/index.jsx
  frontend/src/components/Recruit/DataSelect/DateInput/style.jsx
  frontend/src/components/Recruit/DataSelect/SchoolInput/style.jsx
  frontend/src/components/Recruit/DataSelect/TimeSelectModal/index.jsx
  frontend/src/components/Recruit/DataSelect/TimeSelectModal/style.jsx
  frontend/src/components/Recruit/DataSelect/date-picker.css
  frontend/src/components/Recruit/DataSelect/index.jsx
  frontend/src/components/Recruit/DataSelect/timepicker.css
  frontend/src/components/Recruit/InfoData/index.jsx
  frontend/src/components/Recruit/InfoData/presenter.jsx
  frontend/src/components/Recruit/index.jsx
  frontend/src/components/Recruit/style.jsx
  frontend/src/pages/Recruit/index.jsx
  frontend/yarn.lock
Labels: Asking for Review, Frontend

#440 [frontend] 프론트 오류 수정
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/index.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/Common/Alert/AskAttendance/index.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/index.jsx
  frontend/src/components/Common/Alert/CancleAttend/index.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/index.jsx
  frontend/src/components/Common/Pagination/index.jsx
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/utils/bprofileApi.js
Labels: Asking for Review, Frontend

#442 [frontend] 모달 반응형, 풋터수정, 기본이미지 수정
  frontend/public/images/google.png
  frontend/public/images/kakao.png
  frontend/public/images/mainLogo2.png
  frontend/public/images/기본비즈니스프로필.jpeg
  frontend/public/images/기본비즈니스프로필.png
  frontend/public/images/기본프로필.png
  frontend/public/images/하트아이콘.png
  frontend/src/components/Apply/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/FeedCloseModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/Common/Alert/AskApprove/index.jsx
  frontend/src/components/Common/Alert/AskApprove/style.jsx
  frontend/src/components/Common/Alert/AskAttendance/index.jsx
  frontend/src/components/Common/Alert/AskAttendance/style.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/index.jsx
  frontend/src/components/Common/Alert/AskCancelConfirm/style.jsx
  frontend/src/components/Common/Alert/AskChangeAdmin/style.jsx
  frontend/src/components/Common/Alert/AskCompleteApplication/style.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/index.jsx
  frontend/src/components/Common/Alert/AskEndSchedule/style.jsx
  frontend/src/components/Common/Alert/CancleAttend/style.jsx
  frontend/src/components/Common/Alert/Conditions/style.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/index.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/style.jsx
  frontend/src/components/Common/Alert/DeleteRejectList/style.jsx
  frontend/src/components/Common/Alert/EditOnlyDetails/style.jsx
  frontend/src/components/Common/Alert/ExceptMember/index.jsx
  frontend/src/components/Common/Alert/ExceptMember/style.jsx
  frontend/src/components/Common/Alert/PersonalInformation/style.jsx
  frontend/src/components/Common/Alert/RejectApplicant/style.jsx
  frontend/src/components/Common/Footer/index.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/presenter.jsx
  frontend/src/components/Common/Modal/BProfileCreateModal/style.jsx
  frontend/src/components/Common/Modal/CreateAuthModal/index.jsx
  frontend/src/components/Common/Modal/CreateAuthModal/style.jsx
  frontend/src/components/Main/style.jsx
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/UserContainer/CreateReviewModal/index.jsx
  frontend/src/components/Profile/UserContainer/CreateReviewModal/style.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/presenter.jsx
  frontend/src/components/Profile/UserContainer/UserInfoEditModal/style.jsx
  frontend/src/components/Recruit/BProfileSelect/presenter.jsx
  frontend/src/components/SignUp/SignupFinish/index.jsx
  frontend/src/components/SignUp/SignupFinish/style.jsx
  frontend/src/components/SignUp/SignupForm/InfoData/index.jsx
  frontend/src/components/SignUp/SignupForm/style.jsx
Labels: Asking for Review, Frontend

#443 [frontend] 프론트 수정, 공고현황 뷰 구현
  frontend/src/components/BProfile/BProfileFeedList/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/presenter.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/BProfile/index.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/Profile/UserContainer/CreateReviewModal/index.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoBox/index.jsx
  frontend/src/components/Profile/UserContainer/index.jsx
  frontend/src/components/Profile/UserLikeContainer/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/Recruit/DataSelect/DateInput/index.jsx
  frontend/src/components/Recruit/DataSelect/TimeSelectModal/index.jsx
  frontend/src/components/Recruit/DataSelect/TimeSelectModal/style.jsx
  frontend/src/components/Recruit/DataSelect/index.jsx
  frontend/src/pages/ProcessLogin/index.jsx
  frontend/src/recoil/preview.js
  frontend/src/utils/index.jsx
  frontend/src/utils/profileApi.js
  frontend/src/utils/reviewApi.js
Labels: Asking for Review, Frontend

#446 [backend] 비즈니스 프로필에 대한 리뷰 생성 오류 수정
  backend/src/main/java/com/minibeit/review/domain/BusinessUserReview.java
  backend/src/main/java/com/minibeit/review/service/BusinessUserReviewService.java
  backend/src/rest/BusinessProfileReviewController.http
  backend/src/rest/PostApplicantController.http
  backend/src/test/java/com/minibeit/review/service/BusinessUserReviewFindServiceTest.java
Labels: Asking for Review, Backend

#447 [frontend] 리뷰 create 수정 & 프로필, 비즈니스 프로필 뷰 수정
  frontend/src/components/BProfile/index.jsx
  frontend/src/components/Common/Pagination/index.jsx
  frontend/src/components/Profile/UserContainer/CreateReviewModal/index.jsx
  frontend/src/components/Profile/UserContainer/index.jsx
Labels: Asking for Review, Frontend

#450 [backend] log4j2 이슈 대응, DB migration 파일 정리, 개인정보 암호화 로직 수정
  backend/build.gradle
  backend/src/main/java/com/minibeit/DataLoader.java
  backend/src/main/java/com/minibeit/auth/service/AuthService.java
  backend/src/main/java/com/minibeit/auth/web/AuthController.java
  backend/src/main/java/com/minibeit/common/utils/AES256.java
  backend/src/main/java/com/minibeit/common/utils/CryptoConverter.java
  backend/src/main/java/com/minibeit/user/domain/User.java
  backend/src/main/java/com/minibeit/user/domain/repository/UserRepository.java
  backend/src/main/resources/db/migration/V20210822190459__Create_User_Table.sql
  backend/src/main/resources/db/migration/V20210823140034__Create_School_Table.sql
  backend/src/main/resources/db/migration/V20210825131341__Create_Business_Profile_Table.sql
  backend/src/main/resources/db/migration/V20210825131604__Create_User_Business_Profile.sql
  backend/src/main/resources/db/migration/V20210828153338__Create_Avatar_Table.sql
  backend/src/main/resources/db/migration/V20210830150519__Create_Post_Table.sql
  backend/src/main/resources/db/migration/V20210830150535__Create_Post_File_Table.sql
  backend/src/main/resources/db/migration/V20210830160859__Create_Post_Do_Date_Table.sql
  backend/src/main/resources/db/migration/V20210901134839__Create_Post_Applicant_Table.sql
  backend/src/main/resources/db/migration/V20210907140733__Create_Post_Like_Table.sql
  backend/src/main/resources/db/migration/V20210928145732__Create_Reject_Post_Table.sql
  backend/src/main/resources/db/migration/V20211116153232__Create_User_Verification_Code.sql
  backend/src/main/resources/db/migration/V20211128190433__Create_Business_User_Review.sql
  backend/src/main/resources/db/migration/V20211128190605__Create_Business_User_Review_Detail.sql
  backend/src/main/resources/db/migration/V20220104130536__Init.sql
  backend/src/rest/AuthController.http
  backend/src/rest/PostApplicantController.http
  backend/src/rest/UserController.http
Labels: Asking for Review, Backend

#451 [frontend] 모집하기 이미지 삽입, 레이아웃 수정
  frontend/public/images/img1.png
  frontend/public/images/img2.png
  frontend/public/images/모집하기달력이미지.png
  frontend/public/images/모집하기시간이미지.png
  frontend/public/images/모집하기위치이미지.png
  frontend/public/images/모집하기유저이미지.png
  frontend/public/images/모집하기조건O이미지.png
  frontend/public/images/모집하기조건X이미지.png
  frontend/public/images/모집하기카테고리이미지.png
  frontend/public/images/선물상자아이콘.png
  frontend/src/components/Apply/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/index.jsx
  frontend/src/components/Common/Pagination/index.jsx
  frontend/src/components/Profile/UserContainer/index.jsx
  frontend/src/components/Profile/UserLikeContainer/index.jsx
  frontend/src/components/Recruit/CategorySelect/index.jsx
  frontend/src/components/Recruit/DataSelect/DateInput/style.jsx
  frontend/src/components/Recruit/DataSelect/index.jsx
  frontend/src/components/Recruit/InfoData/presenter.jsx
  frontend/src/components/Recruit/style.jsx
Labels: :sun_with_face: In Progress, Frontend

#454 [frontend] 프로필 반응형, 리뷰아이콘, 비즈니스 프로필 없을때 화면 만들기
  frontend/public/images/돈다발아이콘.png
  frontend/public/images/시간아이콘.png
  frontend/public/images/웃는얼굴아이콘.png
  frontend/public/images/하트아이콘.png
  frontend/src/components/BProfile/BProfileFeedList/BProfileReview/index.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/UserContainer/CreateReviewModal/index.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/UserContainer/UserInfoBox/index.jsx
  frontend/src/components/Profile/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/Recruit/BProfileSelect/index.jsx
  frontend/src/components/Recruit/BProfileSelect/presenter.jsx
  frontend/src/components/Recruit/style.jsx
  frontend/src/components/SignUp/SignupFinish/style.jsx
Labels: Asking for Review, Frontend

#455 [frontend] 비즈니스 프로필 삭제 버튼 구현
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/style.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/index.jsx
  frontend/src/components/Profile/BusinessContainer/index.jsx
  frontend/src/components/Profile/style.jsx
Labels: Asking for Review, Frontend

#456 [frontend] 비즈니스 프로필 페이지 안들어가지는 오류 수정
  frontend/src/components/Profile/index.jsx
Labels: Asking for Review, Frontend

#458 [frontend] 남은 반응형작업
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/BProfile/BProfileFeedList/BProfileReview/index.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/Recruit/BProfileSelect/presenter.jsx
  frontend/src/components/Recruit/style.jsx
  frontend/src/pages/style.jsx
Labels: Asking for Review, Frontend

#459 [backend] 개인프로필에서 확정 완료 게시물 목록 조회 수정, 모집 위치무관 추가
  backend/src/main/java/com/minibeit/post/domain/PostApplicant.java
  backend/src/main/java/com/minibeit/post/domain/repository/PostRepositoryImpl.java
  backend/src/main/java/com/minibeit/school/domain/SchoolRepository.java
  backend/src/main/java/com/minibeit/school/service/SchoolService.java
  backend/src/main/resources/db/migration/V20220108200451__update_school.sql
  backend/src/rest/PostApplicantController.http
  backend/src/rest/PostController.http
  backend/src/rest/SchoolController.http
  backend/src/test/java/com/minibeit/school/service/SchoolServiceTest.java
Labels: Asking for Review, Backend

#460 [frontend] 네브바, 풋터 수정하기, 반응형
  frontend/src/components/Common/Footer/index.jsx
  frontend/src/components/Common/Footer/style.jsx
  frontend/src/components/Common/NavBar/SideMenu.jsx
  frontend/src/components/Common/NavBar/index.jsx
  frontend/src/components/Common/NavBar/style.jsx
Labels: Asking for Review, Frontend

#464 [frontend] 네브바 이미지 수정
  frontend/src/components/Common/NavBar/SideMenu.jsx
  frontend/src/components/Common/NavBar/index.jsx
  frontend/src/components/Common/NavBar/style.jsx
Labels: Asking for Review, Frontend

#466 [frontend] 참여자 관리 모달 수정 & 비즈니스 프로필 탈퇴, 삭제 구현
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/index.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/presenter.jsx
  frontend/src/components/BProfile/BProfileFeedList/BManageModal/style.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileEditModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/BProfileUserModal/index.jsx
  frontend/src/components/BProfile/BProfileInfo/index.jsx
  frontend/src/components/Common/Alert/AskApprove/index.jsx
  frontend/src/components/Common/Alert/AskAttendance/index.jsx
  frontend/src/components/Common/Alert/AskChangeAdmin/index.jsx
  frontend/src/components/Common/Alert/DeleteBProfile/index.jsx
  frontend/src/components/Common/Alert/RejectApplicant/index.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/RecruitComplete/index.jsx
  frontend/src/utils/bprofileApi.js
  frontend/src/utils/index.jsx
Labels: Asking for Review, Frontend

#467 [frontend] 지원하기 모집하기 지원상세 슬랙 수정
  frontend/public/images/썸네일기본.png
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Apply/ListContainer/presenter.jsx
  frontend/src/components/Apply/style.jsx
  frontend/src/components/ApplyDetail/FeedInfoContainter/presenter.jsx
  frontend/src/components/ApplyDetail/TitleContiner/index.jsx
  frontend/src/components/ApplyDetail/index.jsx
  frontend/src/components/ApplyDetail/style.jsx
  frontend/src/components/BProfile/style.jsx
  frontend/src/components/Common/Alert/NotEnoughWrite/index.jsx
  frontend/src/components/Common/CalendarButton/style.jsx
  frontend/src/components/Common/DateInput/style.jsx
  frontend/src/components/Common/Footer/index.jsx
  frontend/src/components/Common/NavBar/SideMenu.jsx
  frontend/src/components/Common/NavBar/index.jsx
  frontend/src/components/Common/NavBar/style.jsx
  frontend/src/components/Profile/UserContainer/FeedBox/index.jsx
  frontend/src/components/Profile/style.jsx
  frontend/src/components/Recruit/DataSelect/TimeSelectModal/style.jsx
  frontend/src/components/Recruit/InfoData/index.jsx
  frontend/src/components/Recruit/InfoData/presenter.jsx
  frontend/src/components/Recruit/style.jsx
Labels: Asking for Review, Frontend
